backend/n8n-workflows/campusflow-deadline-workflow.json
{
  "name": "CampusFlow Task Deadline Reminder",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "campusflow-deadline",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "e23967a7-a8f8-4212-8ac8-d9dd9492cfe6",
      "name": "Webhook",
      "webhookId": "f5e1cb4a-a12e-4f51-9bce-f2436ec9770f"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.body.add_to_calendar }}",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        220,
        -120
      ],
      "id": "calendar-if-node-id",
      "name": "If Calendar Sync Enabled"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.body.whatsapp_reminder }}",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        220,
        120
      ],
      "id": "whatsapp-if-node-id",
      "name": "If WhatsApp Reminder Enabled"
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ $json.body.reminderTime || $json.body.deadline }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        440,
        120
      ],
      "id": "wait-reminder-time-id",
      "name": "Wait for Reminder Time"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "={{ $json.body.google_email }}"
        },
        "start": "={{ $json.body.deadline }}",
        "end": "={{ DateTime.fromISO($json.body.deadline).plus({ hours: 1 }).toISO() }}",
        "additionalFields": {
          "description": "Synced from CampusFlow Workspace. Task subject: {{ $json.body.subject }}",
          "summary": "={{ $json.body.taskTitle }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        460,
        -200
      ],
      "id": "1203f0f4-144f-4bf0-b7da-f93a9c24f2f4",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "lP49v0XNepOtQdCS",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nreturn [{\n  json: {\n    phone: body.phone.replace(\"whatsapp:\", \"\"),\n    taskTitle: body.taskTitle,\n    subject: body.subject,\n    deadline: body.deadline,\n    studentName: body.studentName\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        120
      ],
      "id": "1fae1915-7d59-47fa-a183-644d195bc718",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "={{ $json.phone }}",
        "toWhatsapp": true,
        "message": "=🔔 CampusFlow Deadline Alert\n\nHi {{ $json.studentName }},\n\nYou have an upcoming deadline:\n📝 *Task*: {{ $json.taskTitle }}\n📚 *Subject*: {{ $json.subject }}\n📅 *Due*: {{ DateTime.fromISO($json.deadline).toLocaleString(DateTime.DATETIME_MED) }}\n\n📅 Synced to your Google Calendar.\n\n— CampusFlow",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        880,
        120
      ],
      "id": "90e8f66c-5e1d-448e-957b-dd98abc808bb",
      "name": "Send WhatsApp message",
      "credentials": {
        "twilioApi": {
          "id": "saWOI8bzqIlKQ0Tr",
          "name": "Twilio account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If Calendar Sync Enabled",
            "type": "main",
            "index": 0
          },
          {
            "node": "If WhatsApp Reminder Enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Calendar Sync Enabled": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If WhatsApp Reminder Enabled": {
      "main": [
        [
          {
            "node": "Wait for Reminder Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Reminder Time": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send WhatsApp message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "10029f2d-efc3-4241-b9a6-7318ae731f44",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9c8087d5b6ded46d4fa17d07f70719117bc5670c67020ba467269eaa7c3965ca"
  },
  "nodeGroups": [],
  "id": "qWgPGuhLUuZD9mBS",
  "tags": []
}